<!DOCTYPE html>
<html>
  <head>
    <title>Mozilla Translations</title>
    <link rel="stylesheet" href="css/index.css" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, viewport-fit=cover"
    />
  </head>
  <body>
    <div class="app">
      <div class="panel panel--from">
        <label>
          <select id="lang-from" name="from" class="lang-select"></select>
        </label>
        <textarea id="input" name="input" autofocus></textarea>
      </div>
      <button class="swap" title="swap">↔️</button>
      <div class="panel panel--to">
        <label>
          <select id="lang-to" name="to" class="lang-select"></select>
        </label>
        <textarea id="output" name="output" readonly></textarea>
      </div>
      <div class="footer" id="status"></div>
    </div>
    <script src="/controller/translation/TranslationMessage.js"></script>
    <script src="/model/Queue.js"></script>
    <script src="/model/contentErrors.js"></script>
    <script src="/controller/translation/Translation.js"></script>
    <script src="/model/modelRegistry.js"></script>
    <script src="js/index.js"></script>
    <div class="trademark"><img src="/view/icons/translation-color.svg" class="logo"></div>
  </body>
</html>
