.fxtranslations-ot {
    border: 2px solid darkgray;
    background-color:lightgray;
    padding: .5rem;
    display: fixed;
    flex-direction: column;
    position: fixed;
    top:100vh;
    transform:translateY(-100%);
    width:100%;
    left: 0vh;
}

.fxtranslations-textareaOT {
    padding: 1rem;
    font-family: sans-serif;
    font-size: 1rem;
    resize: none;
    border-radius: 2px;
    border: 1px solid #ccc;
}

.fxtranslations-appOT {
    padding: 1rem;
    display: grid;
    grid: "from swap to" 1fr "status status status" auto / 1fr auto 1fr;
    grid-gap: 1rem;
    overflow: hidden;
    min-height: 25%;
    max-height: 5%;
    max-width: 1024px;
    margin: 1em auto;
}


.fxtranslations-panelOT {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 1rem;
}

.fxtranslations--fromOT {
    grid-area: from;
}

.fxtranslations--toOT {
    grid-area: to;
}

