
<div id="OTapp" class="fxtranslations-appOT">
  <div class="fxtranslations-header">This is Form Translations by Firefox Translations. Type in the form to the left in <em>{navigatorLanguage}</em>  and have the form you selected translated to <em>{pageLanguage}</em>. The form to the right represents the text translated back from <em>{pageLanguage}</em> to <em>{navigatorLanguage}</em> for verification.</div>
  <br>
  <div id="fxtranslations-panelOT-from" class="fxtranslations-panelOT fxtranslations--fromOT">
    <textarea id="fxtranslations-textareaOT" class="fxtranslations-textareaOT"></textarea>
  </div>
  <div class="fxtranslations-panelOT fxtranslations--toOT">
    <textarea id="fxtranslations-textareaBT" class="fxtranslations-textareaOT" readonly></textarea>
  </div>
  <br>
  <div id="fxtranslations-status" class="fxtranslations-status"></div>
</div>
