
<div id="OTapp" class="fxtranslations-appOT">
  <div class="fxtranslations-header"></div>
  <br>
  <div id="fxtranslations-panelOT-from" class="fxtranslations-panelOT fxtranslations--fromOT">
    <textarea id="fxtranslations-textareaOT" class="fxtranslations-textareaOT"></textarea>
  </div>
  <div class="fxtranslations-panelOT fxtranslations--toOT">
    <textarea id="fxtranslations-textareaBT" class="fxtranslations-textareaOT" readonly></textarea>
  </div>
  <br>
  <div id="fxtranslations-status" class="fxtranslations-status"></div>
</div>
