.fxtranslations-ot {
    border: 2px solid darkgray;
    background-color:lightgray;
    padding: .5rem;
    display: fixed;
    flex-direction: column;
    position: fixed;
    top:100vh;
    transform:translateY(-100%);
    width:100%;
    left: 0vh;
}

.fxtranslations-textareaOT {
    padding: 1rem;
    font-family: sans-serif;
    font-size: 1rem;
    resize: none;
    border-radius: 2px;
    border: 1px solid #ccc;
}

.fxtranslations-appOT {
    padding: 1rem;
    display: grid;
    grid: "header  header" "from  to" "status status" / 1fr 1fr;
    grid-gap: .8rem;
    overflow: hidden;
    min-height: 25%;
    max-height: 5%;
    max-width: 1024px;
    margin: 1em auto;
}

.fxtranslations-panelOT {
    display: grid;
    grid-template-rows: auto 1fr;
}

.fxtranslations--fromOT {
    grid-area: from;
}

.fxtranslations--toOT {
    grid-area: to;
}

.fxtranslations-header {
    grid-area: header;
    text-align: center;
    align-self: center;
    font-size: small;
}

.fxtranslations-status {
    grid-area: status;
    grid-column: 1 / span 2;
    text-align: center;
    align-self: center;
    font-size: small;
}