html[x-bergamot-debug] [x-bergamot-translated] { border: 2px solid red; }
html[x-bergamot-debug] [x-bergamot-translated~="skipped"] { border: 2px solid purple; }
html[x-bergamot-debug] [x-bergamot-translated~="rejected"] { border: 2px solid yellow; }
html[x-bergamot-debug] [x-bergamot-translated=""] { border: 2px solid blue; }
html[x-bergamot-debug] [x-bergamot-translated=""] [x-bergamot-translated~="is-excluded-node"] { border: 4px dashed red; }

@font-face {
  font-family: "Flow Block";
  src: url("../../assets/fonts/FlowBlock-Regular.woff2");
}

@font-face {
  font-family: "Flow Circular";
  src: url("../../assets/fonts/FlowCircular-Regular.woff2");
}

@font-face {
  font-family: "Flow Rounded";
  src: url("../../assets/fonts/FlowRounded-Regular.woff2");
}

[x-bergamot-indicator="flow-block"] [x-bergamot-translated]:not([x-bergamot-translated~="skipped"], [x-bergamot-translated~="rejected"], [x-bergamot-translated=""]) {
	font-family: "Flow Block" !important;
}

[x-bergamot-indicator="flow-circular"] [x-bergamot-translated]:not([x-bergamot-translated~="skipped"], [x-bergamot-translated~="rejected"], [x-bergamot-translated=""]) {
	font-family: "Flow Circular" !important;
}

[x-bergamot-indicator="flow-rounded"] [x-bergamot-translated]:not([x-bergamot-translated~="skipped"], [x-bergamot-translated~="rejected"], [x-bergamot-translated=""]) {
	font-family: "Flow Rounded" !important;
}
